{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es6",
        "singleQuote": true
      }
    ]
  }
}
